{{ "<!-- Contact Section -->" | safeHTML }} 
<section id="contact">
   <div class="container">
      <div class="row">
		<form lang="en" title="GitHub demo page" action="https://kamilsk.github.io/form-api/" method="post" enctype="application/x-www-form-urlencoded">
			<input name="name" type="text" title="Name" placeholder="Name" maxlength="25" required="1"/ size=53>
			<br>
			<br>
			<input name="feedback" type="text" title="Restaurant" placeholder="Restaurant / Property Name" maxlength="255" required="1" size=53/>
			<br>
			<br>
			<input name="feedback" type="text" title="Phone" placeholder="Phone: (000) 555-1234" maxlength="255" required="1" size=53/>
			<br>
			<br>
			<input name="feedback" type="text" title="Email" placeholder="Email" maxlength="255" required="1" size=53/>
			<br>
			<br>
			<input name="feedback" type="text" title="Address1" placeholder="Address 1" maxlength="255" required="1" size=53/>
			<br>
			<br>
			<input name="feedback" type="text" title="Address2" placeholder="Address 2" maxlength="255" required="1" size=53/>
			<br>
			<br>
			<input name="feedback" type="text" title="City" placeholder="San Diego" maxlength="255" required="1" size=53/>
			<br>
			<br>		
			<input name="feedback" type="text" title="City" placeholder="San Diego" maxlength="255" required="1" size=53/>
		</form>
   </div>
   </div> 
</section>

